footer {
  width: 100%;
  min-height: 50px;
  margin: 0;
  padding: 0 20px;
  //   background-color: $white;
  font-family: $font-gillsans;
  font-style: italic;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-middle {
    display: flex;
    flex-direction: row;

    .footer-div {
      margin: 0 15px;
      cursor: pointer;
    }
  }

  .footer-right {
    // background-color: $lightgreen;
    min-width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-social {
      height: 19px;
      cursor: pointer;
      // background-color: $yellow;
    }
  }
}
