//site colors
$lightgreen: rgb(167, 232, 189);
$lightpink: rgb(252, 188, 184);
$pink: rgb(239, 167, 167);
$yellow: rgb(255, 217, 114);
$red: rgb(242, 92, 84);

$white: rgb(255, 255, 255);
$gray: rgb(190, 190, 190);
$black: rgb(0, 0, 0);

//site fonts
$font-gillsans: gill-sans-nova, sans-serif;
$font-caveat: "Caveat", cursive;

//box shadow
$box-shadow: 0px 10px 6px rgba($black, 0.2);
